nvim/bundle/
nvim/plugged/
preztorc/private/
nvim/.init.vim-rplugin~
nvim/autoload/plug.vim.old
tags
nvim/backup/*
nvim/swap/*
nvim/undo/*
nvim/autoload/
fish/fish_history
fish/fishd.wheatley
fish/functions
fish/private_aliases.fish
